.banner-section{
  width: 100%;
  height: auto;
  padding: 0 40px;
  display: flex;
  justify-content: center;
}
.carousel-item {
   position: relative;
    text-align: center;
    color: white;
    display: flex;
    height: 350px;
    overflow: hidden;
  }
  .css-1f8sh1y{
    height: 350px;
  }
  .css-1l7c0cy {
    position:relative !important;
    height: 100%;
  }
  .carousel-item img {
    width: 100%;
    height: auto;
    min-height: 350px;
    object-fit: fill;
    border-radius: 15px;
  }
  .carousel .MuiCarousel-indicators {
    display: none;
  }

  .banner-caption {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    font-size: 20px;
    transition: opacity 0.3s ease; 
  }
  
  .carousel-item:hover .banner-caption {
    opacity: 1; /* Show on hover */
  }


  @media (max-width: 750px) {
    .carousel-item img {
      width: 100%;
      min-height: 0;
      height: 100%;
      object-fit: contain;
    }
    .css-1f8sh1y{
      height: 180px !important;
    }
    .carousel-item {
       height: auto; 
     }
    .banner-section{
      padding: 0;
      height: 100%;
      margin-bottom: 15px;
    }
    .css-1m9128y{
      display: none;
    }
  }


  @media (max-width: 400px) {
    .carousel-item{
      height: 160px;
    }
    .css-1f8sh1y {
      height: 160px !important;
    }
  }