.product-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 180px;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.product-card-offer{
  position: absolute;
  top: 18px;
  right: -6px;
  transform: rotate(45deg);
  font-weight: 600;
  font-size: 18px;
  z-index: 11;
  color: white;
}
.offer-ribbon img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -8px;
  right: -10px;
  z-index: 10;
}
.link-product-detail {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
}

.product-image {
  /* padding: 10px; */
  width: 90%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}
.product-card-container:hover .product-image {
  transform: scale(1.2);
  padding: 5px;
  z-index: 10;
  /* margin-top: 10px; */
}

.product-card-container:hover {
  z-index: 5;
}

.bottom-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin-top: 10px; */
  height: 30%;
  /* padding: 0 10px; */
}
.saved-productinfo {
  /* padding: 0 10px; */
  font-size: 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.price-old-price{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.line-through {
  text-decoration: line-through;
  font-size: 15px;
  color: #999;
  font-weight: 400;
}
.saved-product-price{
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saved-product-add-button{
  background-color: transparent;
  border: 1px solid #f8a003;
  color:  #f8a003;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}
.product-card-container .quantity-btn{
  min-width: none;
  max-width : 10px;
  color: #f8a003;
  border: 1px solid #f8a003;
}
.product-card-container .css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-grouped {
  min-width: 20px;
}
/* ------------------------ */
.myproduct-card-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.myproduct-card-container:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.store-videos-thumbnail {
  display: flex;
  height: 220px;
  width: 100%;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}
.my-store-product-div{
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.mystore-product-array-img{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.myproduct-thumbnail {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.myproduct-thumbnail img{
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  object-fit: contain;
}
.shop-now-button, .shop-now-button:hover {
  width: 80%;
  color: white;
  background-color: #f8a003;
}

.drawer-product-list{
  padding: 10px 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 10px;
  justify-items: center;
}
@media screen and (max-width: 750px) {
  .product-card-container{
    display: flex;
    height: 200px;
    width: 150px;
    position: relative;
  }
  .myproduct-card-container {
    display: flex;
    width: 90%;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .myproduct-card-container:hover {
    transform: none;
  }
  .shop-now-button, .shop-now-button:hover {
    width: 80%;
    color: white;
    background-color: #f8a003;
  }
  .store-videos-thumbnail {
    height: 220px;
    width: 100%;
    object-fit: cover;
  }
  .product-card-container .product-image {
    width: 100%;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
  }
  .drawer-product-list{
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .css-19kzrtu {
    padding: 10px !important;
  }
 .saved-product-price{
  font-size: 16px;
 }
  .bottom-center-text {
    font-size: 9px;
  }
  .pagination-stack{
    margin-bottom: 20px;
    font-size: 8px;
  }
  .saved-product-add-button{
    background-color: transparent;
    border: 1px solid #f8a003;
    color:  #f8a003;
    padding: 0px 10px;
    border-radius: 5px;
  }  
  .product-card-container .quantity-btn{
    min-width: none;
    max-width : 15px;
    font-size: 14px;
    padding: 0 10px;
  }
  .product-card-container .css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-grouped {
    min-width: 15px;
    font-size: 12px;
  }
}