.explore-user-section {
    width: 100%;
    padding: 0 40px;
    margin: 20px 0;
  }
  
  .explore-user-heading {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
  }
  
  .topCreators-img {
    padding: 7px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .scroll-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .other-brands .videos-container { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding:5px;
    justify-items: center;
  }
  
  .videos-container::-webkit-scrollbar {
    display: none;
  }
  
  .video-card-container {
    flex: 0 0 auto;
    /* margin: 0 10px; */
  }
  
  .scroll-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
 
  .other-brands .user-card {
    cursor: pointer;
    display: flex;
    height: 250px;
    width: 200px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fbf2dc;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .user-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .user-text {
    font-size: 20px;
  }
  
  .explore-user-section .user-follow-btn {
    border: 1px solid #f8a003;
    padding: 7px 20px;
    color: black;
    font-weight: 400;
    font-size: 13px;
    border-radius: 10px;
  }
  
  @media (max-width: 750px) {
    .explore-user-section {
      padding: 0;
      margin-top: 0;
      margin-bottom: 15px;
    }
  
    .explore-user-heading {
      font-size: 16px;
      gap: 10px;
    }
  
    .topCreators-img {
      height: 30px;
      width: 30px;
    }
  
    .user-card {
      height: 160px;
      width: 130px;
      padding: 15px 5px;
    }
  
    .user-img {
      width: 90px;
      height: 90px;
      margin: 0;
      padding: 0;
    }
  
    .user-text {
      font-size: 15px;
      padding: 0 5px;
      margin: 0;
    }
    .scroll-container:hover .scroll-btn {
      display: none;
    }  
    .explore-user-section .user-follow-btn {
      padding: 5px 10px;
      font-size: 8px;
      font-weight: 500;
    }
    .other-brands .videos-container { 
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 10px;
    }
  }
  