.view-all-brands-conatiner{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  gap: 20px;
  padding: 20px 40px;
}

.brand-card-container{
  justify-self: center;
}
.link-user-profile {
  text-decoration: none;
  color: inherit;
}
.user-card {
  cursor: pointer;
  display: flex;
  height: 250px;
  width: 200px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fbf2dc;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.user-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.user-text {
  font-size: 20px;
}
@media (max-width: 750px) {
    .view-all-brands-conatiner{
      gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      padding: 10px;
      margin-top: 0;
      margin-bottom: 60px;
    }
    .user-card {
      height: 160px;
      width: 130px;
      padding: 15px 5px;
    }
    .user-img {
      width: 90px;
      height: 90px;
      margin: 0;
      padding: 0;
    }
    .user-text {
      font-size: 15px;
      padding: 0 5px;
      margin: 0;
    }

}
