.videos-conatiner{
    display: flex;
    /* gap: 20px; */
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 5px;
}
/* .video-section-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
} */

.videos-conatiner::-webkit-scrollbar {
    display: none;
  }