.footer {
    background-color: rgb(2, 6, 12);
    color: #f1f1f1;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Four columns */
    gap: 20px;
    padding: 3% 160px 10%;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-div{
    text-align: left;
  }
  .footer-title-foodjam{
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: rgba(255, 255, 255, 0.92);
  }
  .footer-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.92);
  }
  .legal-title{
    margin-top: 16px;
  }
  .footer-brand img {
    height: 60px;
    display: flex;
    align-items: start;
    text-align: left;
    width: 100%;
  }
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section li {
    margin: 16px 0;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  .footer-section li a{
    color: white;
    text-decoration: none;
    padding: 0;
  }
  .footer-section li a:hover {
    color: #ffcc00; 
  }
  
  .city-dropdown {
    margin-top: 15px;
    border: 1px solid #888;
    padding: 4px;
    display: inline-block;
    cursor: pointer;
  }
  .city-dropdown:hover {
    background-color: #444;
  }
  
  .city-dropdown:hover {
    background-color: #444;
  }
  
  .footer-section p {
    margin-top: 16px;
    font-family: Gilroy;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  @media (max-width: 1024px) {
    .footer {
      grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
    }
  }


  /* download section */

  .download-section {
    background-color: #f2f2f5;
    padding: 20px 160px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .download-section div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    margin: 0;
    font-size: 28px;
    color: #333;
    font-weight: 800;
    line-height: 32px;
    justify-content: space-between;
  }
  
  .app-buttons {
    display: flex;
    gap: 10px;
  }
  
  .app-buttons img {
    width: 210px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .app-buttons img:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
  }
  
  @media (max-width: 768px) {
    .footer {
      grid-template-columns: 1fr;
      padding: 20px 20px;
    }
  
    .footer-section {
      text-align: center;
    }

    .download-section {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }
    .download-section div {
        width: 80%;
        gap: 20px;
    }
    .app-buttons {
      justify-content: center;
    }
  
    .app-buttons img {
      width: 120px;
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      padding: 10px 10px;
    }
    .download-section div {
       width: 100%;
       gap: 10px;
    }
    .app-buttons {
        margin-top: 10px;
    }
    .footer-section ul li {
      font-size: 13px;
    }
  }